.childrenContainer {
  margin: 10px;
  overflow: auto;
  padding: 10px;
  width: 80%;
}

.gridWrapper {
  width: auto;
  height: 100vh;
}

.listOfRestaurants .listItemContainer {
  display: flex;
  justify-content: space-around;
}

.listItem {
  display: flex;
}

.listImage {
  height: 200px;
  width: 200px;
}

.menuBottomButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.menuPrimaryButton {
  height: 10vh;
  width: 20vw;
}

.sushiLandingImage {
  height: 70vh;
}

.topNav {
  background: gray;
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  width: auto;
}
