.gridWrapper {
  background: red;
  width: auto;
  height: 100vh;
}

.topNav {
  height: 5vh;
  width: auto;
}

.childrenContainer {
  padding: 10px;
  margin: 10px;
  width: 80%;
}

.homeContainer {
}

.sushiLandingImage {
  height: 70vh;
}
